@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Odibee+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cute+Font&display=swap');
body{
    background-color: #222831;
    max-width: 100%;
}

#welcomemsg{
    width: 50%;
    font-size: 90px;
    font-size: 7vw;
    text-align: center;
    color: #eeeeee;
    font-family: 'Cute Font', cursive;
    margin-top: 5%;
    margin-left: 25%;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #222831;
}

.container {
    width: auto;
    max-width: 680px;
    padding: 0 15px;
    text-align: center;
}



